# ML
torch
transformers
sentencepiece
sacremoses
accelerate
soundfile
scipy
huggingface_hub

# API
fastapi
uvicorn
redis
python-multipart
pydantic

# Prod
slowapi        # rate limiting
python-dotenv  # chargement .env